html {
    height: 100%;
}

body {
    margin: 0;
    background-color: skyblue;
    text-transform: lowercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body.no-js .hero__projects {
    display: none;
}

.hero {
    background-color: white;
    color: #1c1c1c;
    overflow: hidden;
    width: 100%;
}
.hero__container {
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.hero__projects {
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    position: relative;
    color: #ff8da1;
}
.link:focus,
.link:hover {
    background-color: #ff8da1;
    color: white;
}