:root {
  --cod-gray: #131313;
  --white: #fff;
  --french-rose: #ec4899;
  --mustard: #fcd34d;
}

::selection {
  color: var(--white);
  background-color: var(--french-rose);
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: var(--cod-gray);
  color: var(--white);
  max-width: 45em;
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
  box-sizing: border-box;
}

.brand {
  display: inline-block;
  font-size: 3em;
  background: linear-gradient(to right, var(--french-rose), var(--mustard));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 0.25em;
  animation: slide-in 0.75s ease-in-out backwards;
}

.text {
  line-height: 1.8;
  margin: 1.25em 0;
  animation: slide-in 0.75s ease-in-out 0.5s backwards;
}

.contact {
  margin: 1.5em 0 0;
  padding: 0;
  list-style-type: none;
  animation: slide-in 0.75s ease-in-out 1s backwards;
}

.contact__item:not(:last-child) {
  margin-bottom: 0.75em;
}

.link {
  display: inline;
  color: var(--french-rose);
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0;
  transition: box-shadow 0.1s ease;
}
.link:hover {
  box-shadow: 0 2px 0 0 var(--french-rose);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
