body {
    margin: 0;
    background-color: skyblue;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.hero {
    background-color: white;
    color: #1c1c1c;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
}

.hero__container {
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.footer {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    text-decoration: none;
    position: relative;
    color: #ff8da1;
}
.link:focus,
.link:hover {
    background-color: #ff8da1;
    color: white;
}